<html>
  <head>
    <title></title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/freeSlot.css")}}'>
    <style></style>
  </head>
  <body>
    <div class="container">
      <h2>Open Slot</h2>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Open Slot Number</div>
        </li>
        {% for data in slots %}
        <li class="table-row">
          <div class="col col-1" data-label="Open Slot Number">{{data.O}}</div>
        </li>
    {% endfor %}
      </ul>
    </div>
    <a  href="{{ url_for('dashboard') }}">Go Back DashBoard and Book Slot</a>

  </body>
</html>